.titleView {
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  font-size: medium;
}

.col-header {
  background-color: #32363B;
  color: white;
  height: 45px;
  border:1px solid #212529
}

.statView {
  font-size: 14px;
}

.totalView {
  font-size: 12px;
}

.demo-infinite-container {
  border: 1px solid #212529;
  overflow: auto;
  width: 170px;
  height: 900px;
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}


[data-theme="dark"] .demo-infinite-container {
    border: 1px solid #303030;
}

.ant-list-split .ant-list-item {
  border: 1px solid #32363B;
}

.ant-col {
  background-color: #2B2F33;
}

.ant-empty-normal .ant-empty-image {
  height: 25px;
}

.row-item {
  height: 46px;
  background-color: #2B2F33;
  color: white;
  padding-left: 10px;
}

.demo-infinite-container::-webkit-scrollbar { width: 0 !important }